bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
Django==2.0.13
django-admin-tools==0.8.1
django-autoslug==1.9.6
django-cors-headers==3.0.2
django-email-extras==0.3.4
django-fobi==0.15
django-formtools==2.1
django-nine==0.2.2
django-nonefield==0.3
djangorestframework==3.10.1
easy-thumbnails==2.6
future==0.15.0
idna==2.8
Pillow==6.1.0
python-gnupg==0.4.4
pytz==2019.1
requests==2.22.0
simplejson==3.8.0
six==1.12.0
sphinx-me==0.3
sqlparse==0.3.0
Unidecode==1.1.1
urllib3==1.25.3
vishap==0.1.5
webencodings==0.5.1
